#nav{
  width: 100vw;
  height: 7vh;
  color: black;
  background-color: rgb(255, 255, 255);
  display: flex;      
  flex-direction: row;
  gap: 20px;           
  justify-content: center; 
  align-items: center;
  font-family: sans-serif;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

#nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#nav a:hover {
  color: rgb(34, 76, 212);
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}